body {
	color: #5a5a5a;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, normal;
	font-size: 21px;
	line-height: 23px;
	margin: auto;
	width: 80%;
}

h1 {
	color: #000000;
	font-size: 62px;
	line-height: 62px;
	margin: 30px;
	text-align: center;
}

h2 {
	color: #000000;
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
	margin: 0;
	text-align: center;
}

img {
    display: block;
    margin: auto;
	width: 60%;
}

a {
	color: #991111;
	text-decoration: none;
}

.button {
	background-color: #991111;
	border: 2px solid #991111;
	border-radius: 8px;
	color: #ffffff;
	cursor: pointer;
	font-size: 21px;
	line-height: 50px;
	padding: 16px 32px;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
}

.button:hover {
	background-color: #ffffff;
	border: 2px dashed #991111;
	color: #991111;
}
